.app {
    max-width: 1121px;
    margin: 64px auto;
}

.app_msg {
    text-align: center;
    margin: 40px auto;
    font-weight: 400;
    font-size: 24px;
}

.app_loading {
    color: green;
}

.app_error {
    color: red;
}